---
layout: layouts/base.njk
---

<ul>
  <li>
    {{ time | formatSeconds }} minutes
  </li>
  <li>
    {{ distance }} miles
  </li>
  <li>
    {{ formatted.pace }} pace
  </li>
</ul>
<h1>{{ title or "Activity" }}</h1>
{{ content | safe }}