<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title or metadata.title }}</title>
  <style>{{ css | safe }}</style>
</head>
<body class='text-gray-900 leading-normal bg-gray-100'>
  <main class='max-w-4xl mx-auto px-4 w-full {{ mainClasses }}'>
    {{ content | safe }}
  </main>
</body>
</html>