---
layout: layouts/base.njk
---

{% set activities = collections.activity | createActivities %}

<h1>Runs:</h1>

{% set currentMonthYearBlock = null %}

{% for activity in activities %}
  {# Get the month and year of the current activity #}
  {% set activityMonthYearBlock = activity.date.format('MMMM Y') %}

  {% if activityMonthYearBlock != currentMonthYearBlock %}
    </ul>
    </section>

    {% set currentMonthYearBlock = activityMonthYearBlock %}

    <section>
    <h2 class='font-bold'>{{ activityMonthYearBlock }}</h2>
    <span>{{ activities | getDataFromGroup('MMMM Y', currentMonthYearBlock) }} miles</span>
  
    <ul>
  {% endif %}

  <li>
    <a href="{{ activity.url }}">{{ activity.date.format('MMMM DD, YYYY') }}</a>
  </li>
  
{% endfor %}
